{% block fos_user_content %}
    {% include "::header.html.twig" %}
    <header>
        <h1>Contact symblog</h1>
    </header>

    <p>Want to contact Le Coin des Pious?</p>

    Blocage du formulaire <a href="http://keiruaprod.fr/symblog-fr/docs/validateurs-et-formulaires.html#enquirytype">Dispo ici</a>
    <form action="{{ path('BloggerBlogBundle_contact') }}" method="post">
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
    {% include "::footer.html.twig" %}
{% endblock fos_user_content %}