BloggerBlogBundle_blog:
    pattern:  /blog/{name}
    defaults: { _controller: BloggerBlogBundle:Default:index }

BloggerBlogBundle_contact:
    pattern:  /contact/
    defaults: { _controller: BloggerBlogBundle:Page:contact }

BloggerBlogBundle_about:
    pattern: /about/
    defaults: { _controller: BloggerBlogBundle:Page:about }

BloggerBlogBundle_home:
    pattern:  /blog/
    defaults: { _controller: BloggerBlogBundle:Page:index }
BloggerBlogBundle_blog_show:
    pattern:  /{id}
    defaults: { _controller: BloggerBlogBundle:Blog:show }
    requirements:
        _method:  GET
        id: \d+