<<<<<<< HEAD
{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
            
=======
>>>>>>> 500105b5d4a2f80fc13e57344d0ab3570f4029e5


Hello World! La connexion fonctionne

<img src="http://piwee.net/wp-content/uploads/2016/01/1-blague-developpeur-classe-css-2.jpg" style="width:300px;">

<<<<<<< HEAD
<a href="http://localhost/LeCoinDesPious/web/logout">Se déconnecter</a>
        {% else %}

{% endif %}


    {% include "::header.html.twig" %}
    {% include "::contenutest.html.twig" %}
    {% include "::footer.html.twig" %}
{% endblock fos_user_content %}
=======
<a href="javascript:history.go(-1)">Retour à la seule page développée</a>
>>>>>>> 500105b5d4a2f80fc13e57344d0ab3570f4029e5
