{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
    {% include "::header.html.twig" %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

{% else %}

{% endif %}
    {% include "::contenutest.html.twig" %}
    {% include "::footer.html.twig" %}
{% endblock fos_user_content %}
